image: Visual Studio 2017 Preview

init:
  - git config --global core.autocrlf input
  - SET PATH=%POSTGRES_PATH%\bin;%MYSQL_PATH%\bin;%PATH%

skip_branch_with_pr: true
skip_tags: true
skip_commits:
  files:
    - '**/*.md'
    
environment:
  Appveyor: true
  # Postgres
  POSTGRES_PATH: C:\Program Files\PostgreSQL\9.6
  PGUSER: postgres
  PGPASSWORD: Password12!
  POSTGRES_ENV_POSTGRES_USER: postgres
  POSTGRES_ENV_POSTGRES_PASSWORD: Password12!
  POSTGRES_ENV_POSTGRES_DB: test
  # MySQL
  MYSQL_PATH: C:\Program Files\MySql\MySQL Server 5.7
  MYSQL_PWD: Password12!
  MYSQL_ENV_MYSQL_USER: root
  MYSQL_ENV_MYSQL_PASSWORD: Password12!
  MYSQL_ENV_MYSQL_DATABASE: test
  MySQLConnectionString: server=localhost;uid=root;pwd=Password12!;database=test;Allow User Variables=true
services:
  - mssql2016
  - mysql
  - postgresql

nuget:
  disable_publish_on_pr: true

build_script:
  # Postgres
  - createdb test
  # MySQL
  - mysql -e "create database test;" --user=root
  - ps: .\build.ps1 -BuildNumber "$env:APPVEYOR_BUILD_NUMBER" -Version "$env:APPVEYOR_REPO_TAG_NAME" -PullRequestNumber "$env:APPVEYOR_PULL_REQUEST_NUMBER" -CreatePackages $true

test: off
artifacts:
- path: .\.nupkgs\*.nupkg
  
deploy:
- provider: NuGet
  server: https://www.myget.org/F/stackoverflow/api/v2
  on:
    branch: master  
  api_key:
    secure: P/UHxq2DEs0GI1SoDXDesHjRVsSVgdywz5vmsnhFQQY5aJgO3kP+QfhwfhXz19Rw
  symbol_server: https://www.myget.org/F/stackoverflow/symbols/api/v2/package
- provider: NuGet
  server: https://www.myget.org/F/exceptional/api/v2
  on:
    branch: master  
  api_key:
    secure: OQIXTmnq9eLRDtbatTQhSx4VE4pNdR7JbEVR7BYg8LmyOqcVcWMB/G316I17e61X
  symbol_server: https://www.myget.org/F/exceptional/api/v2/package