html,
body {
  height: 100%;
  font-size: 11px;
  font-family: sans-serif;
  color: #232323;
  background-color: #fff;
  padding: 0;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -45px;
}
h1 {
  font-size: 20px;
  font-weight: normal;
  color: #9e2626;
  margin: 0.3em 0;
}
h1 span {
  font-size: 12px;
  color: #888;
}
h3 {
  color: #444;
  margin: 12px 0 5px 0;
}
h3.title-error {
  color: #9e2626;
}
footer {
  color: #888;
  height: 25px;
  padding: 10px;
  overflow: hidden;
}
.bottom {
  height: 45px;
}
.empty {
  text-align: center;
  color: #888;
  margin-top: 50px;
  font-size: 12px;
}
.empty h1 {
  color: #3a965c;
}
.version-info {
  float: right;
  color: #aaa;
}
a {
  color: #3d85b0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
  padding: 5px 4px 4px 4px;
  color: #555;
  vertical-align: top;
}
td {
  padding: 0.4em;
  vertical-align: top;
}
pre {
  font-family: Consolas, Monaco, monospace;
  margin: 0.2em;
}
header {
  color: #fff;
  font-size: 14px;
  padding: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  background: repeating-linear-gradient(45deg, #282d4d, #282d4d 2px, #2f355a 2px, #2f355a 3px);
}
header.failure {
  background: repeating-linear-gradient(45deg, #c94c4c, #c94c4c 2px, #bf3838 2px, #bf3838 3px);
}
.failure-mode {
  width: 350px;
  font-size: 12px;
  background-color: #dc0000;
  color: #fff;
  padding: 3px 2px 2px 2px;
  border-radius: 4px;
  text-align: center;
  margin: 6px auto;
  line-height: 22px;
}
.failure-mode svg {
  height: 16px;
  width: 16px;
  padding: 4px;
  fill: #fff;
  vertical-align: middle;
}
#content {
  padding: 8px 5px 5px 5px;
  margin: 0 auto;
  min-height: 100%;
}
#ErrorLog {
  margin: 0;
  border: 0;
  margin-bottom: 10px;
  border-collapse: separate;
  border-spacing: 0;
  border-bottom: solid 1px #ECECEC;
}
#ErrorLog thead tr th {
  white-space: nowrap;
}
#ErrorLog tr td:nth-child(2) {
  /* Type column */
  color: #6f6f6f;
}
#ErrorLog a {
  text-decoration: none;
}
#ErrorLog a:hover {
  text-decoration: underline;
}
.alt-rows th {
  border-top: solid 1px #f5f5f5;
}
.alt-rows tbody tr {
  cursor: pointer;
}
.alt-rows tbody tr td {
  padding: 4px 2px;
  font-size: 11px;
  white-space: nowrap;
  border-top: solid 1px #f5f5f5;
}
.alt-rows tbody tr td.error-col {
  white-space: normal;
}
.alt-rows tbody tr:hover td {
  background-color: #f5f5f5;
}
.alt-rows tbody tr:nth-child(even) {
  background-color: #fff;
}
.alt-rows tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.alt-rows tbody tr.error td:nth-child(2) {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.alt-rows tbody tr.error.selected {
  background-color: #fcf8e3;
}
.alt-rows tbody tr.error.selected:hover {
  background-color: #faf2cc;
}
.hidden {
  display: none;
}
.info-link,
.url-link {
  white-space: normal;
  text-decoration: none;
}
.info-link:hover,
.url-link:hover {
  text-decoration: underline;
}
.icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.8;
}
.icon.x {
  fill: #f04124;
  margin-top: -1px;
}
.icon.lock {
  fill: #e99002;
}
.icon:hover {
  opacity: 1;
}
.clear-all-link {
  padding: 4px;
  color: #9e2626;
  text-decoration: none;
}
.info-delete-link {
  color: #ddd;
}
.duplicate-count {
  color: Red;
}
.error-title {
  font-weight: bold;
  font-size: 150%;
  margin: 0 0 0.2em 0;
}
.error-type {
  color: #444;
}
.error-detail {
  background-color: #ffffcc;
  padding: 0.5em;
  overflow: auto;
}
.sql-detail {
  background-color: #eee;
  padding: 8px;
}
.custom-error-label {
  color: #9e2626;
  font-weight: bold;
  padding-left: 4px;
}
.custom-data .error-detail {
  padding: 0.5em;
  margin-top: 4px;
}
.error-time {
  font-size: 110%;
  color: #555;
}
.side-scroll {
  width: 100%;
  overflow: auto;
}
.kv-table {
  border-collapse: collapse;
  border: 0;
}
.kv-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.kv-table td,
.kv-table th {
  padding: 0.4em;
}
.kv-table tr td:nth-child(1) {
  width: 200px;
}
.kv-table tr td:nth-child(2) {
  font-family: Consolas, Monaco, monospace;
}
.loading {
  background: url('Source/loading.gif') no-repeat center center;
  text-indent: -99999px;
}
/* Animations */
.error td:first-child a:hover .icon {
  -webkit-animation: pulsate 2s infinite linear;
  -moz-animation: pulsate 2s infinite linear;
  -o-animation: pulsate 2s infinite linear;
  animation: pulsate 2s infinite linear;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
/* Prettify */
/**
 * @license
 * Copyright (C) 2015 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000;
}
/* plain text */
@media screen {
  .str {
    color: #080;
  }
  /* string content */
  .kwd {
    color: #008;
  }
  /* a keyword */
  .com {
    color: #800;
  }
  /* a comment */
  .typ {
    color: #606;
  }
  /* a type name */
  .lit {
    color: #066;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #660;
  }
  .tag {
    color: #008;
  }
  /* a markup tag name */
  .atn {
    color: #606;
  }
  /* a markup attribute name */
  .atv {
    color: #080;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #606;
  }
  /* a declaration; a variable name */
  .fun {
    color: red;
  }
  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}