body { 
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: white;
    padding: 0;
    margin: 0;
}
h1 { font-size: 22px; color: Maroon; font-weight:bold; margin: 0.5em 0; }
footer {
	padding: 10px;
	color: #ccc;
    font-size: 0.9em;
    overflow: auto;
}
.version-info { float:right; color:#bbb; }
.server-time { font-size:100%; }

a { color: #0033CC; }
table { width: 100%; border-collapse: collapse; }
td { padding: 0.4em; vertical-align: top; }
th { text-align: left; padding: 0.4em; color: #555555; vertical-align: top; }
pre { font-family: Consolas, Monaco, monospace; }
p { margin: 0; padding: 0; margin-bottom:0.5em; }

#top-header {
    color: white;
    padding: 4px 0;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    background: transparent url('top-bg.png') repeat-x left top;
    color: white;
}
#top-header.failure { background: transparent url('top-bg-fail.png') repeat-x left top; }

#top-header .top-label {
    padding-left: 5px;
}

.failure-mode {
    width: 350px;
    font-size: 12px;
    background-color: #A6707B;
    color: white;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
}

#content {
    padding: 8px 5px 5px 5px;
    margin: 0 auto;
}

#ErrorLog {
	margin: 0;
	border: 0;
    margin-bottom: 10px;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: solid 1px #ECECEC;
}

#ErrorLog thead tr th { white-space: nowrap; }

.alt-rows tbody tr:nth-child(even), .even-row { background-color: white; }
.alt-rows tbody tr:nth-child(odd), .odd-row { background-color: #F2F2F2; }
.alt-rows tbody tr td {
    padding: 4px 2px;
    font-size: 11px;
    white-space: nowrap;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
}

.alt-rows tbody tr.error td:nth-child(2) {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.alt-rows tbody tr.error.selected td
{
    background-color: #ffffcc;
}
.alt-rows tbody tr:hover td {
    -webkit-transition: border 200ms ease;
    -moz-transition: border 200ms ease;
    -o-transition: border 200ms ease;
    transition: border 200ms ease;
    border-top: solid 1px #9AB1DC;
    border-bottom: solid 1px #9AB1DC;
}
.alt-rows tbody tr td.error-col {
    white-space: normal;
}
.hidden { display:none; }

.type-col { font-weight: bold; }
.code-col, .date-col, .time-col { text-align: right; }

.info-link, .url-link {
    color: #3D85B0;
    white-space: normal;
    text-decoration: none;
}
.info-link:hover, .url-link:hover {
    text-decoration: underline;
}

.delete-link { margin-right:2px; }
.delete-link, .protect-link { color: Maroon; text-decoration: none; }
.delete-link:hover, .protect-link:hover { background-color:Maroon; color:White; }
.clear-all-div { margin-top: 8px; }
.clear-all-link { padding: 4px; }
.info-delete-link { color: #ddd; }

.duplicate-count { color:Red; }

#ErrorInfo a { color: #3D85B0; text-decoration: none; }
#ErrorInfo a:hover { text-decoration: underline; }

.error-title { font-weight: bold; font-size: 140%; margin: 0 0 0.2em 0; }
.error-type, .error-message { display: block; }
.error-type { color: #444; }
.error-detail {
    background-color: #ffffcc;
    padding: 1em;
    overflow: scroll;
    font: Consolas, monospace;
}
.sql-detail { background-color: #eee; padding: 8px; }
.custom-error-label { color: maroon; font-weight: bold; padding-left: 4px; }
.custom-data .error-detail {
    padding: 0.5em;
    margin-top: 4px;
}

.error-time { font-size: 110%; color: #555; }

.side-scroll { width: 100%; overflow: auto; }
.kv-title {	color: #224C00; font-weight: bold; font-size: 120%; margin: 10px 0 5px 0; }
.kv-title.title-error { color: maroon; }
.kv-table { border-collapse: collapse; border: 0; }
.kv-table td, .kv-table th { padding : 0.4em; }
.kv-title .hidden { display: none; }
.kv-table td.key { width:200px; font-size: 0.9em; }
.kv-table td.value { font-family: Consolas, Monaco, monospace; }
.kv-table tr:nth-child(odd) { background-color: #F2F2F2; }

.value-highlight {
	color:Maroon;
	font-weight:bold;
}

.loading {
    background: url('loading.gif') no-repeat center center;
    text-indent: -99999px;
}