<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- For a complete config section explanation, check out the Samples.MVC project, 
       the configuration is the same for Web or Console configs.  It's worth noting there is crrently no
       viewer for a console application though, so logging to JSON or SQL for viewing elsewhere is a good option. -->
  <!-- This sample project uses code setup, but the exact equivalent config is below -->
  <!--<configSections>
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
  </configSections>
  <Exceptional applicationName="Samples.Console">
    <ErrorStore type="JSON" path="Errors" rollupSeconds="0" />
  </Exceptional>-->
</configuration>