title: 'Exceptional'
subtitle: 'Documentation'
codeurl: 'https://github.com/NickCraver/StackExchange.Exceptional'
baseurl: '/StackExchange.Exceptional'
highlighter: rouge
exclude: ['README.md']
markdown: kramdown
redcarpet:
    extensions: [
        'no_intra_emphasis',
        'fenced_code_blocks',
        'autolink',
        'strikethrough',
        'superscript',
        'with_toc_data',
        'tables',
        'hardwrap'
    ]
